<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLinkActive]="['active']"
            name="dashboard-link"
            aria-current="page"
            routerLink="/dashboard">
            <i class="bi bi-house"></i>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" name="meals-calendar-link" routerLink="/meals-calendar">
            <i class="bi bi-calendar-event"></i>
            Meals calendar
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" name="products-link" routerLink="/products">
            <i class="bi bi-database"></i>
            Products
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" name="body-profile-link" routerLink="/body-profile">
            <i class="bi bi-person-vcard"></i>
            Body profile
          </a>
        </li>
      </ul>
      <div *ngIf="!(user$ | async)" class="navbar-dark navbar-nav">
        <a class="nav-link sign-in-link" name="sign-in-link" routerLink="/sign-in">
          <i class="bi bi-person-up"></i>
          Sign in
        </a>
      </div>
      <div *ngIf="user$ | async" class="navbar-dark navbar-nav">
        <a class="nav-link" name="sign-out-link" routerLink="/sign-out">
          <i class="bi bi-box-arrow-right"></i>
          Sign out
        </a>
      </div>
    </div>
  </div>
</nav>
