<div class="container-lg m-4">
  <a class="btn btn-primary" role="button" routerLink="./add">Add new measurement</a>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Weight [kg]</th>
              <th scope="col">Belly [cm]</th>
              <th scope="col">Chest [cm]</th>
              <th scope="col">Waist [cm]</th>
              <th scope="col">Biceps (R) [cm]</th>
              <th scope="col">Biceps (L) [cm]</th>
              <th scope="col">Forearm (R) [cm]</th>
              <th scope="col">Forearm (L) [cm]</th>
              <th scope="col">Thigh (R) [cm]</th>
              <th scope="col">Thigh (L) [cm]</th>
              <th scope="col">Calf (R) [cm]</th>
              <th scope="col">Calf (L) [cm]  </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let measurement of (measurements$ | async)'> 
                <td>{{measurement.date}}</td>
                <td>{{measurement.weight}}</td>
                <td>{{measurement.belly}}</td>
                <td>{{measurement.chest}}</td>
                <td>{{measurement.waist}}</td>
                <td>{{measurement.bicepsRight}}</td>
                <td>{{measurement.bicepsLeft}}</td>
                <td>{{measurement.forearmRight}}</td>
                <td>{{measurement.forearmLeft}}</td>
                <td>{{measurement.thighRight}}</td>
                <td>{{measurement.thighLeft}}</td>
                <td>{{measurement.calfRight}}</td>
                <td>{{measurement.calfLeft}}</td>      
                <div class="button-group">
                  <button _ngcontent-jer-c109="" type="button" class="btn btn-secondary m-1" value="7">Edit</button>
                  <button _ngcontent-axr-c109="" type="button" class="btn btn-danger" value="7">Remove</button>
                </div>
          </tbody>
      </table>
</div>