<div class="container-lg m-4">
  <a class="btn btn-primary" role="button" routerLink="./add">Dodaj pomiar</a>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
              <th scope="col">Data</th>
              <th scope="col">Waga [kg]</th>
              <th scope="col">Bruch [cm]</th>
              <th scope="col">Klatka [cm]</th>
              <th scope="col">Pas [cm]</th>
              <th scope="col">Biceps (P) [cm]</th>
              <th scope="col">Biceps (L) [cm]</th>
              <th scope="col">Przedramie (P) [cm]</th>
              <th scope="col">Przedramie (L) [cm]</th>
              <th scope="col">Udo (P) [cm]</th>
              <th scope="col">Udo (L) [cm]</th>
              <th scope="col">Łydka (P) [cm]</th>
              <th scope="col">Łydka (L) [cm]  </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let measurement of (measurements$ | async)'> 
                <td>{{measurement.date}}</td>
                <td>{{measurement.weight}}</td>
                <td>{{measurement.belly}}</td>
                <td>{{measurement.chest}}</td>
                <td>{{measurement.waist}}</td>
                <td>{{measurement.bicepsRight}}</td>
                <td>{{measurement.bicepsLeft}}</td>
                <td>{{measurement.forearmRight}}</td>
                <td>{{measurement.forearmLeft}}</td>
                <td>{{measurement.thighRight}}</td>
                <td>{{measurement.thighLeft}}</td>
                <td>{{measurement.calfRight}}</td>
                <td>{{measurement.calfLeft}}</td>
          </tbody>
      </table>
</div>