@if (errorCode$ | async) {
<app-error-page [httpsStatusError]="errorCode$ | async" />
} @else {
<div class="container-lg mt-4">
  <h5 class="border-bottom pb-2 mb-3 d-flex">User profile</h5>
  <div class="container">
    <div class="row my-4">
      <div class="container-m col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="1 / 1"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded($event)"
          output="base64"
          resizeToWidth="150px"
          resizeToHeight="150px">
        </image-cropper>
        <div class="text-center m-2" style="width: auto; height: auto">
          @if (!inAvatarEditMode) {
          <img
            [src]="(userProfile$ | async)?.base64Image ?? './../../../assets/images/avatar-placeholder.svg'"
            class="img-fluid"
            style="width: 150px; height: 150px" />
          }
        </div>
        <div class="d-flex" style="justify-content: center">
          @if (!inAvatarEditMode) {
          <button type="submit" class="file-upload-button btn btn-secondary" (click)="openFileSelection()">Edit</button>
          } @if (inAvatarEditMode) {
          <button type="submit" class="file-upload-button btn btn-secondary" (click)="saveCroppedFile()">
            Confirm
          </button>
          }
          <input
            type="file"
            #fileInput
            style="display: none"
            (change)="fileChangeEvent($event)"
            accept="image/png, image/jpeg" />
        </div>
      </div>
      <div class="container-m col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
        <form [formGroup]="userProfileForm" (ngSubmit)="onSubmitUserProfile()">
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label class="form-label">Name</label>
                <input class="form-control" formControlName="name" name="user-name" type="text" />
                <app-form-error [control]="userProfileForm.get('name')"></app-form-error>
              </div>
              <div class="mb-3">
                <label class="form-label">Gender</label>
                <select class="form-select" formControlName="gender" name="user-gender">
                  <option selected value="0">-</option>
                  <option value="1">Male</option>
                  <option value="2">Female</option>
                  <option value="3">Other</option>
                </select>
                <app-form-error [control]="userProfileForm.get('gender')"></app-form-error>
              </div>
              <div class="mb-3">
                <label class="form-label">Birth date</label>
                <input type="date" class="form-control" formControlName="birthDate" name="user-birth-date" />
                <app-form-error [control]="userProfileForm.get('birthDate')"></app-form-error>
              </div>
              <div class="mb-3">
                <label class="form-label">Height [cm]</label>
                <input type="text" class="form-control" formControlName="height" name="user-height" />
                <app-form-error [control]="userProfileForm.get('height')"></app-form-error>
              </div>
            </div>
          </div>
          <div class="col d-flex" style="justify-content: end">
            <button
              [disabled]="!userProfileForm.dirty || userProfileForm.invalid"
              type="submit"
              class="btn btn-primary">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <h5 class="border-bottom pb-1 mb-3 d-flex">Measurements</h5>
  <table class="meansurement-table container-lg table table-sm mt-4">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Weight [kg]</th>
        <th scope="col">Belly [cm]</th>
        <th scope="col">Chest [cm]</th>
        <th scope="col">Waist [cm]</th>
        <th scope="col">Biceps (L) [cm]</th>
        <th scope="col">Biceps (R) [cm]</th>
        <th scope="col">Forearm (L) [cm]</th>
        <th scope="col">Forearm (R) [cm]</th>
        <th scope="col">Thigh (L) [cm]</th>
        <th scope="col">Thigh (R) [cm]</th>
        <th scope="col">Calf (L) [cm]</th>
        <th scope="col">Calf (R) [cm]</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      @for (measurement of measurements$ | async; track measurement.id) {
      <tr>
        <td>{{ measurement.date }}</td>
        <td>{{ measurement.weight }}</td>
        <td>{{ measurement.belly }}</td>
        <td>{{ measurement.chest }}</td>
        <td>{{ measurement.waist }}</td>
        <td>{{ measurement.bicepsRight }}</td>
        <td>{{ measurement.bicepsLeft }}</td>
        <td>{{ measurement.forearmRight }}</td>
        <td>{{ measurement.forearmLeft }}</td>
        <td>{{ measurement.thighRight }}</td>
        <td>{{ measurement.thighLeft }}</td>
        <td>{{ measurement.calfRight }}</td>
        <td>{{ measurement.calfLeft }}</td>
        <td>
          <div class="button-group">
            <button
              type="button"
              class="btn edit-button-icon"
              (click)="onEditButtonClick($event)"
              [value]="measurement.id">
              <i class="bi bi-pen"></i>
            </button>
            <button
              type="button"
              class="btn delete-button-icon text-danger"
              data-bs-toggle="modal"
              data-bs-target="#deleteMeasurementConfirmationModal"
              [value]="measurement.id"
              (click)="onRemoveButtonClick($event)">
              <i class="bi bi-x-lg"></i>
            </button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
  <div class="add-measurement-button-container">
    <a class="btn btn-primary" role="button" routerLink="./add">Add</a>
  </div>
  <div
    class="modal fade"
    id="deleteMeasurementConfirmationModal"
    tabindex="-1"
    aria-labelledby="deleteConfirmationModallLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirmation required</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">Do you really want to remove this measurement from the list?</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="removeConfirmationButtonClick()"
            data-bs-dismiss="modal">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
}
