.button-group {
  display: flex;
}

.add-measurement-button-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end
}

.meansurement-table {
  font-size: smaller;
  font-weight: lighter;
}
