<div class="container mt-4">
  <h3>Create your account</h3>
  <form [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmit()">
    <div class="mb-3 mt-4">
      <label class="form-label" id="username-label">Username</label>
      <input class="form-control" formControlName="username" name="username" />
      <app-form-error [control]="signUpForm.get('username')"></app-form-error>
    </div>
    <div class="mb-3">
      <label class="form-label" id="email-label">Email address</label>
      <input class="form-control" formControlName="email" name="email" type="email" />
      <app-form-error [control]="signUpForm.get('email')"></app-form-error>
    </div>
    <div class="mb-3">
      <label class="form-label" id="password-label">Password</label>
      <input class="form-control" formControlName="password" name="password" type="password" />
      <app-form-error [control]="signUpForm.get('password')"></app-form-error>
    </div>
    <button class="btn btn-primary" type="submit">Sign-up</button>
  </form>

  <div class="mb-3 mt-5">
    <div class="text-secondary mb-1">
      Already have an account?
      <a routerLink="/sign-in" class="redirection-link">Go to sign-in page.</a>
    </div>
  </div>
</div>
