<div class="container-lg m-4">
      <form>
        <div class="mb-3 row">
          <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Search:</label>
          <div class="col-xs-3 col-sm-auto">
            <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
          </div>
        </div>
      </form>
      
      <button type="button" class="btn btn-primary" routerLink="./add">Dodaj</button>

      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Carbohydrates</th>
          <th scope="col">Proteins</th>
          <th scope="col">Fats</th>
          <th scope="col">Calories</th>
          <th scope="col">Rating</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products$ | async; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td><ngb-highlight [result]="product.name" [term]="filter.value"></ngb-highlight></td>
          <td><ngb-highlight [result]="product.description"></ngb-highlight></td>
          <td><ngb-highlight [result]="product.carbohydrates | number"></ngb-highlight></td>
          <td><ngb-highlight [result]="product.proteins | number"></ngb-highlight></td>
          <td><ngb-highlight [result]="product.fats | number"></ngb-highlight></td>
          <td><ngb-highlight [result]="product.calories | number"></ngb-highlight></td>
          <td>
            <ngb-rating [(rate)]="product.currentRate"></ngb-rating>
            <pre>Rate: <b>{{product.currentRate}}</b></pre>
          </td>
          <td>
            <button type="button" class="btn btn-secondary">Edytuj</button>
            <button type="button" class="btn btn-danger">Remove</button>
          </td>
        </tr>
        </tbody>
      </table>
</div>