<div class="container-sm m-4" style="max-width: 720px">
  <div class="alert alert-info" role="alert">Add your measurement</div>
  <form (ngSubmit)="measurementSubmit()">
    <app-measurement-template [measurement]="measurement">
    </app-measurement-template>

    <div *ngIf="(addMeasurementError$ | async) !== ''" class="alert alert-danger d-flex align-items-center"
      role="alert">
      <div>An error occurred during processing request.</div>
    </div>
    <div class="mb-3">
      <div class="row">
        <div class="col">
          <a class="btn btn-secondary" role="button" routerLink="/body-profile">Back</a>
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary" style="float: right">
            Add
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
