<div class="container-lg m-4">
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-primary">Add</button>
        <button type="button" class="btn btn-secondary">Edit</button>
        <button type="button" class="btn btn-danger">Remove</button>
      </div>

      <div *ngFor='let product of (products$ | async)'> 
        <div class="card" style="width: 18rem;">
          <img src="{{product.imagePath}}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.description}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>


</div>