<div class="container mt-4">
  <h3>Sign in into your account</h3>
  <form #signInUser="ngForm" (ngSubmit)="onSignInSubmit(signInUser.value)">
    <div class="mb-3 mt-4">
      <label class="form-label" id="email-label">Email</label>
      <input ngModel name="email" type="email" class="form-control" aria-describedby="email-label" />
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input ngModel name="password" type="password" id="passwordInput" class="form-control" />
    </div>

    <button class="btn btn-primary" type="submit">Sign in</button>
  </form>
  <div class="mb-3 mt-5">
    <div class="text-secondary mb-1">
      You don't have an account yet?
      <a routerLink="/sign-up" class="redirection-link">Go to sign-up page.</a>
    </div>
  </div>
  <div class="demo-user-container border-top border-1">
    <div class="text-secondary lead mt-1 mb-1">Test account</div>
    <div class="text-secondary">email: user@demo.com</div>
    <div class="text-secondary">password: user@demo.com</div>
  </div>
</div>
