@if (errorCode$ | async) {
<app-error-page [httpsStatusError]="errorCode$ | async" />
} @else {
<div class="container mt-4">
  <div class="row">
    <div class="card container-lg mx-2 my-2 col-md-3">
      <div class="my-3 pb-2 lead text border-bottom">Hello {{ (authenticatedUser$ | async)?.username }}</div>
      <div class="text-primary">Summary</div>
      <div class="mb-2 text-secondary">
        <div class="m-2">
          Current weight: {{ ((dashboardChartData$ | async)?.currentWeight | number : '1.0-2') ?? 'n/a' }} kg
        </div>
        <div class="m-2">
          Total calories (today): {{ (dashboardChartData$ | async)?.caloriesLastSevenDays[6] | number : '1.0-2' }}/2500
          kcal
        </div>
      </div>
      <div class="border-bottom"></div>
      <div class="mt-3 text-primary">Last 3 days</div>
      <div class="mb-2 text-secondary">
        <div class="m-2">
          <b>{{(lastThreeDaysDateFormatted$ | async)?.[0]}}</b> | total calories:
          {{ (dashboardChartData$ | async)?.caloriesLastSevenDays[6] | number : '1.0-2' }}
          kcal
        </div>
        <div class="m-2">
          <b>{{(lastThreeDaysDateFormatted$ | async)?.[1]}}</b> | total calories:
          {{ (dashboardChartData$ | async)?.caloriesLastSevenDays[5] | number : '1.0-2' }}
          kcal
        </div>
        <div class="m-2">
          <b>{{(lastThreeDaysDateFormatted$ | async)?.[2]}}</b> | total calories:
          {{ (dashboardChartData$ | async)?.caloriesLastSevenDays[4] | number : '1.0-2' }}
          kcal
        </div>
      </div>
    </div>
    <div class="card container-lg mx-2 my-2 col-md-8">
      <app-stats-canvas></app-stats-canvas>
    </div>
  </div>
</div>
}
