<app-error-page *ngIf="errorCode$ | async; else dashboardTemplate" [httpsStatusError]="errorCode$ | async">
</app-error-page>

<ng-template #dashboardTemplate>
  <div class="container mt-4">
    <div class="row">
      <div class="card container-lg mx-2 my-2 col-md-3">
        <div class="my-3 pb-2 lead text border-bottom">
          Hello {{ (authenticatedUser$ | async)?.username }}
        </div>
        <div class="text-primary">Summary</div>
        <div class="mb-2 text-secondary">
          <div class="m-2">Current weight: 80 kg</div>
          <div class="m-2">Total calories (today): 2100/2500 kcal</div>
        </div>
        <div class="border-bottom"></div>
        <div class="mt-3 text-primary">Last 3 days</div>
        <div class="mb-2 text-secondary">
          <div class="m-2"><b>26.05</b> | total calories: 2300 kcal</div>
          <div class="m-2"><b>25.05</b> | total calories: 2600 kcal</div>
          <div class="m-2"><b>24.05</b> | total calories: 1800 kcal</div>
        </div>
      </div>
      <div class="card container-lg mx-2 my-2 col-md-8">
        <app-stats-canvas [dashboardChartData$]="dashboardChartData"></app-stats-canvas>
      </div>
    </div>
  </div>
</ng-template>
