.error-code {
    font-size: 8rem;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}

.error-title {
    font-size: 3rem;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
}

.error-description {
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
}