<td class="table-light">
  <img src="../../../../assets/images/product-placeholder.svg" class="img-fluid" style="width: 25px; height: 25px" />
</td>
<td class="table-light">{{ item.name }}</td>
<td class="table-light">{{ mealRowDetails?.carbs | number : '1.0-1' }}g</td>
<td class="table-light">{{ mealRowDetails?.proteins | number : '1.0-1' }}g</td>
<td class="table-light">{{ mealRowDetails?.fats | number : '1.0-1' }}g</td>
<td class="table-light">{{ mealRowDetails?.calories | number : '1.0-1' }}kcal</td>
<td class="table-light">
  <ng-container *ngIf="item.itemType === 0">
    <input
      [ngModel]="mealRowDetails.portion"
      (ngModelChange)="onPortionValueChange($event)"
      [ngModelOptions]="{ updateOn: 'blur' }"
      [attr.id]="'portion-' + item.id + '-' + item.itemType"
      type="number"
      id="portion"
      class="form-control form-control-sm d-flex"
      style="max-width: 4rem" />
  </ng-container>
  <ng-container *ngIf="item.itemType === 1">
    <div class="d-flex">{{ mealRowDetails?.portion | number : '1.0-1' }}g</div>
  </ng-container>
</td>
<td style="min-width: 90px" class="table-light">
  <ng-container *ngIf="item.itemType === 1">
    <button
      type="button"
      id="collapse-show-button-{{ item.id }}-{{ item.itemType }}"
      class="btn delete-button-icon text-secondary mx-0"
      title="Show/Hide dish details"
      data-bs-toggle="collapse"
      [attr.data-bs-target]="'#collapse-' + item.itemType + itemIndex"
      aria-controls="collapseExample">
      <i class="bi bi-chevron-expand"></i>
    </button>
  </ng-container>
  <button
    type="button"
    class="btn edit-button-icon text-secondary mx-0"
    title="Edit meal item"
    (click)="onEditItemButtonClick()">
    <i class="bi bi-pencil-square"></i>
  </button>
  <button
    type="button"
    class="btn delete-button-icon text-danger mx-0"
    title="Remove item from the meal"
    (click)="onRemoveItemButtonClick()">
    <i class="bi bi-x-lg"></i>
  </button>
</td>
