@if(mealRowDetails$) {
<td class="table-light">
  <img src="../../../../assets/images/product-placeholder.svg" class="img-fluid" style="width: 25px; height: 25px" />
</td>
<td class="table-light">{{ item.name }}</td>
<td class="table-light">{{ mealRowDetails$.getValue()?.carbs | number : '1.0-1' }}g</td>
<td class="table-light">{{ mealRowDetails$.getValue()?.proteins | number : '1.0-1' }}g</td>
<td class="table-light">{{ mealRowDetails$.getValue()?.fats | number : '1.0-1' }}g</td>
<td class="table-light">{{ mealRowDetails$.getValue()?.calories | number : '1.0-1' }}kcal</td>
<td class="table-light">
  @if (item.itemType === 0) {
  <input
    [ngModel]="mealRowDetails$?.getValue().portion * 100"
    (ngModelChange)="onPortionValueChange($event)"
    [ngModelOptions]="{ updateOn: 'blur' }"
    [attr.id]="'portion-' + item.id + '-' + item.itemType"
    type="number"
    id="portion"
    class="form-control form-control-sm d-flex"
    style="max-width: 4rem" />
  } @if (item.itemType === 1) {
  <div class="d-flex">{{ mealRowDetails$?.getValue()?.portion | number : '1.0-1' }}g</div>
  }
</td>
<td style="min-width: 90px" class="table-light">
  @if (item.itemType === 1) {
  <button
    type="button"
    id="collapse-show-button-{{ mealType() }}-{{ item.id }}-{{ item.itemType }}"
    class="btn delete-button-icon text-secondary mx-0"
    title="Show/Hide dish details"
    data-bs-toggle="collapse"
    [attr.data-bs-target]="'#collapse-' + mealType() + '-' + item.itemType + '-' + itemIndex()"
    aria-controls="collapseExample">
    <i class="bi bi-chevron-expand"></i>
  </button>
  }
  <button
    type="button"
    class="btn edit-button-icon text-secondary mx-0"
    title="Edit meal item"
    (click)="onEditItemButtonClick()">
    <i class="bi bi-pencil-square"></i>
  </button>
  <button
    type="button"
    class="btn delete-button-icon text-danger mx-0"
    title="Remove item from the meal"
    (click)="onRemoveItemButtonClick()">
    <i class="bi bi-x-lg"></i>
  </button>
</td>
}
