<td class="text-secondary p-2" colspan="2">Meals summary:</td>
<td class="text-secondary p-2">{{ mealMacroSummary$?.getValue().carbs | number : '1.0-1' }}g</td>
<td class="text-secondary p-2">{{ mealMacroSummary$?.getValue().proteins | number : '1.0-1' }}g</td>
<td class="text-secondary p-2">{{ mealMacroSummary$?.getValue().fats | number : '1.0-1' }}g</td>
<td class="text-secondary p-2">{{ mealMacroSummary$?.getValue().calories | number : '1.0-1' }}kcal</td>
<td class="text-secondary p-2"></td>
<td class="text-secondary p-2"></td>
