<div class="mb-4">
  @if (meal.dishes?.length > 0 || meal.products?.length > 0) {
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Carbs</th>
        <th scope="col">Proteins</th>
        <th scope="col">Fats</th>
        <th scope="col">Calories</th>
        <th scope="col">Portion</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (dish of meal.dishes; track dish; let itemIndex = $index) {
      <tr
        app-meal-item-row
        [item]="dish"
        [mealType]="meal.mealType"
        [calendarDate]="calendarDate()"
        [itemIndex]="itemIndex"></tr>
      @for (dishProduct of dish.products; track dishProduct; let productIndex = $index) {
      <ng-container class="collapse">
        <tr
          app-meal-dish-row-details
          class="collapse"
          [attr.id]="'collapse-' + meal.mealType + '-' + dish.itemType + '-' + itemIndex"
          [dish]="dish"
          [selectedDate]="calendarDate()"
          [dishProduct]="dishProduct"
          [mealType]="meal.mealType"
          [itemIndex]="itemIndex"></tr>
      </ng-container>
      } } @for (product of meal.products; track product) {
      <tr app-meal-item-row [item]="product" [mealType]="meal.mealType" [calendarDate]="calendarDate()"></tr>
      }
    </tbody>
    <tbody>
      <ng-container>
        <tr app-meal-summary-row [mealType]="meal.mealType"></tr>
      </ng-container>
    </tbody>
  </table>
  }
  <app-search-input (itemAddedEmitter)="itemAddedToSearchBar($event, meal.mealType)"></app-search-input>
</div>
