<div class="container-lg m-4">
  <a class="btn btn-primary" role="button" routerLink="./add">Dodaj pomiar</a>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
              <th scope="col">Data</th>
              <th scope="col">Waga</th>
              <th scope="col">Bruch</th>
              <th scope="col">Klatka</th>
              <th scope="col">Pas</th>
              <th scope="col">Biceps (P)</th>
              <th scope="col">Biceps (L)</th>
              <th scope="col">Przedramie (P)</th>
              <th scope="col">Przedramie (L)</th>
              <th scope="col">Udo (P)</th>
              <th scope="col">Udo (L)</th>
              <th scope="col">Łydka (P)</th>
              <th scope="col">Łydka (L)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let measurement of (measurements$ | async)'> 
                <td>{{measurement.date}}</td>
                <td>{{measurement.weight}} kg</td>
                <td>{{measurement.belly}} cm</td>
                <td>{{measurement.chest}} cm</td>
                <td>{{measurement.waist}} cm</td>
                <td>{{measurement.bicepsRight}} cm</td>
                <td>{{measurement.bicepsLeft}} cm</td>
                <td>{{measurement.forearmRight}} cm</td>
                <td>{{measurement.forearmLeft}} cm</td>
                <td>{{measurement.thighRight}} cm</td>
                <td>{{measurement.thighLeft}} cm</td>
                <td>{{measurement.calfRight}} cm</td>
                <td>{{measurement.calfLeft}} cm</td>
          </tbody>
      </table>
</div>