<div class="container-lg m-4">
  <a class="btn btn-primary" role="button" routerLink="./add">Dodaj pomiar</a>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
              <th scope="col">Data</th>
              <th scope="col">Waga</th>
              <th scope="col">Bruch (cm)</th>
              <th scope="col">Klatka</th>
              <th scope="col">Pas</th>
              <th scope="col">Biceps (P)</th>
              <th scope="col">Biceps (L)</th>
              <th scope="col">Przedramie (P)</th>
              <th scope="col">Przedramie (L)</th>
              <th scope="col">Udo (P)</th>
              <th scope="col">Udo (L)</th>
              <th scope="col">Łydka (P)</th>
              <th scope="col">Łydka (L)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
      </table>
</div>