<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLinkActive]="['active']"
            name="dashboard-link"
            aria-current="page"
            routerLink="/dashboard">
            <i class="bi bi-house"></i>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" name="meals-calendar-link" routerLink="/meals-calendar">
            <i class="bi bi-calendar-event"></i>
            Meals calendar
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" name="dishes-link" routerLink="/dishes">
            <i class="bi bi-stack"></i>
            Dishes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" name="products-link" routerLink="/products">
            <i class="bi bi-database"></i>
            Products
          </a>
        </li>
      </ul>
      @if (!(user$ | async)) {
      <div class="navbar-dark navbar-nav">
        <a class="nav-link sign-in-link" name="sign-in-link" routerLink="/sign-in">
          <i class="bi bi-person-up"></i>
          Sign in
        </a>
      </div>
      } @if (user$ | async) {
      <div class="navbar-dark navbar-nav">
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="nav-dropdown-icon bi bi-person-circle h5"></i>
            {{ (user$ | async).username }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end bg-dark nav-item mt-2">
            <li>
              <a
                class="dropdown-item nav-link"
                [routerLinkActive]="['active']"
                name="body-profile-link"
                routerLink="/body-profile">
                <i class="nav-dropdown-icon bi bi-person-vcard"></i>
                Profile
              </a>
            </li>
            <li>
              <a class="dropdown-item nav-link nav-item" [routerLinkActive]="['active']" routerLink="/account-settings">
                <i class="nav-dropdown-icon bi bi-person-gear"></i>Account settings</a
              >
            </li>
            <li>
              <a class="dropdown-item nav-link" name="sign-out-link" routerLink="/sign-out">
                <i class="nav-dropdown-icon bi bi-box-arrow-right"></i>Sign out
              </a>
            </li>
          </ul>
        </div>
      </div>
      }
    </div>
  </div>
</nav>
