<div class="mb-3">
  <label for="name-label" class="form-label">Name</label>
  <input
    type="text"
    class="form-control"
    [(ngModel)]="product.name"
    name="product-name"
  />
</div>

<div class="mb-3">
  <label for="description-label" class="form-label">Description</label>
  <input
    type="text"
    class="form-control"
    [(ngModel)]="product.description"
    name="product-description"
  />
</div>

<div class="mb-3">
  <label for="barcode-label" class="form-label">Barcode</label>
  <input
    type="number"
    class="form-control"
    [(ngModel)]="product.barCode"
    name="product-barcode"
  />
</div>

<div class="mb-3">
  <label for="calories-label" class="form-label">Calories</label>
  <input
    type="number"
    class="form-control"
    [(ngModel)]="product.calories"
    name="product-calories"
  />
</div>

<div class="mb-3">
  <div class="row">
    <div class="col">
      <label for="carbohydrates-label" class="form-label">Carbohydrates</label>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="product.carbohydrates"
        name="product-carbohydrates"
      />
    </div>
    <div class="col">
      <label for="proteins-label" class="form-label">Proteins</label>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="product.proteins"
        name="product-proteins"
      />
    </div>
    <div class="col">
      <label for="fats-label" class="form-label">Fats</label>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="product.fats"
        name="product-fats"
      />
    </div>
  </div>
</div>
