<div class="container-sm m-4" style="max-width: 720px">
    <div class="alert alert-info" role="alert">
        Dodaj swoje pomiary.
      </div>
    <form [formGroup]="measurementForm" (ngSubmit)="measurementSubmit()">
        <div class="mb-3">
            <label for="weight" class="form-label">Waga [cm]</label>
            <input type="number" class="form-control" id="weight" formControlName="weight">
        </div>

        <div class="mb-3">
            <label for="chest" class="form-label">Klatka piersiowa [cm]</label>
            <input type="number" class="form-control" id="chest" formControlName="chest">
        </div>

        <div class="mb-3">
            <label for="belly" class="form-label">Brzuch [cm]</label>
            <input type="number" class="form-control" id="belly" formControlName="belly">
        </div>

        <div class="mb-3">
            <label for="waist" class="form-label">Pas [cm]</label>
            <input type="number" class="form-control" id="waist" formControlName="waist">
        </div>

        <div class="mb-3">
            <div class="row">
                <div class="col">
                    <label for="biceps-left-label" class="form-label">Biceps lewy [cm]</label>
                    <input type="number" class="form-control" id="biceps-left" formControlName="biceps-left">
                </div>
                <div class="col">
                    <label for="biceps-right-label" class="form-label">Biceps prawy [cm]</label>
                    <input type="number" class="form-control" id="biceps-right" formControlName="biceps-right">
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="row">
                <div class="col">
                    <label for="forearm-left-label" class="form-label">Przedramie lewe [cm]</label>
                    <input type="number" class="form-control" id="forearm-left" formControlName="forearm-left">
                </div>
                <div class="col">
                    <label for="forearm-right-label" class="form-label">Przedramie prawe [cm]</label>
                    <input type="number" class="form-control" id="forearm-right" formControlName="forearm-right">
                </div>
            </div>
        </div>


        <div class="mb-3">
            <div class="row">
                <div class="col">
                    <label for="thigh-left-label" class="form-label">Udo lewe [cm]</label>
                    <input type="number" class="form-control" id="thigh-left" formControlName="thigh-left">
                </div>
                <div class="col">
                    <label for="thigh-right-label" class="form-label">Udo prawe [cm]</label>
                    <input type="number" class="form-control" id="thigh-right" formControlName="thigh-right">
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="row">
                <div class="col">
                    <label for="calf-left-label" class="form-label">Łydka lewa [cm]</label>
                    <input type="number" class="form-control" id="calf-left" formControlName="calf-left">
                </div>
                <div class="col">
                    <label for="calf-right-label" class="form-label">Łydka prawa [cm]</label>
                    <input type="number" class="form-control" id="calf-right" formControlName="calf-right">
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="row">
                <div class="col">
                    <a class="btn btn-secondary" role="button" routerLink= "/body-profile">Wróć</a>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary" style="float: right;">Dodaj</button>
                </div>
            </div>
        </div>
    </form>
</div>