<div class="container mt-4">
  <h3>Create your account</h3>
  <form (ngSubmit)="signUpSubmit()">
    <div class="mb-3 mt-4">
      <label for="usernameInput" class="form-label">Username</label>
      <input class="form-control" id="username">
    </div>
    <div class="mb-3">
      <label for="emailInput" class="form-label">Email address</label>
      <input type="email" class="form-control" id="emailInput">
    </div>
    <div class="mb-3">
      <label for="passwordInput" class="form-label">Password</label>
      <input type="password" id="passwordInput" class="form-control">
    </div>
    <button class="btn btn-primary" type="submit">Sign-up</button>
  </form>

  <div class="mb-3 mt-5">
    <div class="text-secondary mb-1">Already have an account?
      <a routerLink="/log-in" class="redirection-link">Log-in</a>
    </div>
  </div>
</div>
