<div class="mb-3">
  <label for="weight" class="form-label">Weight [cm]</label>
  <input type="number" class="form-control" [(ngModel)]="measurement.weight" name="weight" />
</div>

<div class="mb-3">
  <label for="chest" class="form-label">Chest [cm]</label>
  <input type="number" class="form-control" [(ngModel)]="measurement.chest" name="chest" />
</div>

<div class="mb-3">
  <label for="belly" class="form-label">Belly [cm]</label>
  <input type="number" class="form-control" [(ngModel)]="measurement.belly" name="belly" />
</div>

<div class="mb-3">
  <label for="waist" class="form-label">Waist [cm]</label>
  <input type="number" class="form-control" [(ngModel)]="measurement.waist" name="waist" />
</div>

<div class="mb-3">
  <div class="row">
    <div class="col">
      <label for="biceps-left-label" class="form-label">Biceps (L) [cm]</label>
      <input type="number" class="form-control" [(ngModel)]="measurement.bicepsLeft" name="bicepsLeft" />
    </div>
    <div class="col">
      <label for="biceps-right-label" class="form-label">Biceps (R) [cm]</label>
      <input type="number" class="form-control" [(ngModel)]="measurement.bicepsRight" name="bicepsRight" />
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="row">
    <div class="col">
      <label for="forearm-left-label" class="form-label">Forearm (L) [cm]</label>
      <input type="number" class="form-control" [(ngModel)]="measurement.forearmLeft" name="forearmLeft" />
    </div>
    <div class="col">
      <label for="forearm-right-label" class="form-label">Forearm right [cm]</label>
      <input type="number" class="form-control" [(ngModel)]="measurement.forearmRight" name="forearmRight" />
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="row">
    <div class="col">
      <label for="thigh-left-label" class="form-label">Thigh (L) [cm]</label>
      <input type="number" class="form-control" [(ngModel)]="measurement.thighLeft" name="thighLeft" />
    </div>
    <div class="col">
      <label for="thigh-right-label" class="form-label">Thigh (P) [cm]</label>
      <input type="number" class="form-control" [(ngModel)]="measurement.thighRight" name="thighRight" />
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="row">
    <div class="col">
      <label for="calf-left-label" class="form-label">Calf (L) [cm]</label>
      <input type="number" class="form-control" [(ngModel)]="measurement.calfLeft" name="calfLeft" />
    </div>
    <div class="col">
      <label for="calf-right-label" class="form-label">Calf (R) [cm]</label>
      <input type="number" class="form-control" [(ngModel)]="measurement.calfRight" name="calfRight" />
    </div>
  </div>
</div>
