 <div class="mb-4">
   <table class="table table-striped">
     <thead>
       <tr>
         <th scope="col">Image</th>
         <th scope="col">Name</th>
         <th scope="col">Carbohydrates</th>
         <th scope="col">Proteins</th>
         <th scope="col">Fats</th>
         <th scope="col">Calories</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let mealProduct of mealProducts$ | async; let productIndex = index">
         <td><img src="{{mealProduct.imagePath}}"></td>
         <td>{{ mealProduct.name }}</td>
         <td>{{ mealProduct.carbohydrates }}g</td>
         <td>{{ mealProduct.proteins }}g</td>
         <td>{{ mealProduct.fats }}g</td>
         <td>{{ mealProduct.calories }}kcal</td>
         <td>
           <button type="button" class="btn delete-button-icon text-danger"
             (click)="onRemoveProductButtonClick(mealProducts$, productIndex)">
             <i class="bi bi-x-lg"></i>
           </button>
         </td>
       </tr>
     </tbody>
   </table>

   <div class="d-flex bd-highlight mb-3">
     <input id="typeahead-basic" type="text" class="p-2 bd-highlight form-control" [(ngModel)]="searchItem"
       [ngbTypeahead]="searchProducts" placeholder="Start typing to search for a products..." />
     <button type="button" class="add-product-button p-2 flex-fill bd-highlight btn btn-primary"
       (click)="onAddProductButtonClick(mealProducts$, searchItem)">
       Add
     </button>
   </div>

 </div>
