<div class="mb-4">
  <table *ngIf="this.dishes$.getValue().length > 0" class="table">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Carbs</th>
        <th scope="col">Proteins</th>
        <th scope="col">Fats</th>
        <th scope="col">Calories</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let dish of dishes$ | async; let dishIndex = index">
        <tr class="table-group-divider" style="border: 1px; border-color: inherit">
          <td class="table-light">
            <img
              src="./../../../assets/images/product-placeholder.svg"
              class="img-fluid"
              style="width: 25px; height: 25px" />
          </td>
          <td class="table-light">{{ dish.name }}</td>
          <td class="table-light">{{ dish.description }}</td>
          <!-- TODO: This is very wrong way of calculating dish's macro. Need to refactor! -->
          <td class="table-light">{{ this.calculateDishMacros(dish).carbs | number : '1.0-1' }}g</td>
          <td class="table-light">{{ this.calculateDishMacros(dish).proteins | number : '1.0-1' }}g</td>
          <td class="table-light">{{ this.calculateDishMacros(dish).fats | number : '1.0-1' }}g</td>
          <td class="table-light">{{ this.calculateDishMacros(dish).calories | number : '1.0-1' }}kcal</td>
          <!-- TODO: This is very wrong way of calculating dish's macro. Need to refactor! -->
          <td style="min-width: 90px" class="table-light">
            <button
              type="button"
              id="collapse-show-button-{{ dish.id }}-{{ mealType }}"
              class="btn delete-button-icon text-secondary mx-0"
              title="Show/Hide products"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#collapse-' + mealType + dishIndex"
              aria-controls="collapseExample">
              <i class="bi bi-chevron-expand"></i>
            </button>
            <button
              type="button"
              class="btn delete-button-icon text-secondary mx-0"
              title="Remove dish from the meal"
              (click)="onEditDishButtonClick(dishes$, dishIndex)">
              <i class="bi bi-pencil-square"></i>
            </button>
            <button
              type="button"
              class="btn delete-button-icon text-danger mx-0"
              title="Remove dish from the meal"
              (click)="onRemoveDishButtonClick(dishes$, dishIndex)">
              <i class="bi bi-x-lg"></i>
            </button>
          </td>
        </tr>
        <tr class="collapse" [attr.id]="'collapse-' + mealType + dishIndex">
          <td scope="col" colspan="7">Products details</td>
          <td scope="col" colspan="1">Portion</td>
        </tr>
        <tr
          class="collapse"
          [attr.id]="'collapse-' + mealType + dishIndex"
          *ngFor="let dishProduct of dish.products; let productIndex = index">
          <td></td>
          <td colspan="2">{{ dishProduct.product.name }}</td>
          <td>{{ dishProduct.product.carbohydrates * dishProduct.customizedPortionMultiplier | number : '1.0-1' }}g</td>
          <td>{{ dishProduct.product.proteins * dishProduct.customizedPortionMultiplier | number : '1.0-1' }}g</td>
          <td>{{ dishProduct.product.fats * dishProduct.customizedPortionMultiplier | number : '1.0-1' }}g</td>
          <td>{{ dishProduct.product.calories * dishProduct.customizedPortionMultiplier | number : '1.0-1' }}kcal</td>

          <td class="d-flex" style="align-items: center">
            <input
              type="number"
              id="portion"
              class="form-control form-control-sm d-flex"
              style="max-width: 65px"
              [ngModel]="portionValue * dishProduct.customizedPortionMultiplier"
              [ngModelOptions]="{ updateOn: 'blur' }"
              (ngModelChange)="onPortionValueChange($event, dish.id, dishProduct.product.id)" />g
          </td>
        </tr>
      </ng-container>
    </tbody>
    <tbody class="table-group-divider" style="border-color: inherit">
      <td class="table-light text-secondary p-2" colspan="3">Meals summary:</td>
      <td class="table-light text-secondary p-2">
        {{ (mealMacroSummary$ | async).carbohydrates | number : '1.0-1' }}g
      </td>
      <td class="table-light text-secondary p-2">{{ (mealMacroSummary$ | async).proteins | number : '1.0-1' }}g</td>
      <td class="table-light text-secondary p-2">{{ (mealMacroSummary$ | async).fats | number : '1.0-1' }}g</td>
      <td class="table-light text-secondary p-2">{{ (mealMacroSummary$ | async).calories | number : '1.0-1' }}kcal</td>
    </tbody>
  </table>

  <div class="d-flex bd-highlight my-3">
    <input
      id="typeahead-basic"
      type="text"
      class="p-2 bd-highlight form-control"
      [(ngModel)]="searchItem"
      [ngbTypeahead]="searchDish"
      placeholder="Start typing to search for a dish..." />
    <button
      type="button"
      class="add-product-button p-2 flex-fill bd-highlight btn btn-primary"
      (click)="onAddDishOrProductButtonClick(dishes$, searchItem, confirmatioModal)">
      Add
    </button>
  </div>

  <ng-template #confirmatioModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="ProductNoFoundModalLabel">Dish not found</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        (click)="onCancelModalClick()"></button>
    </div>
    <div class="modal-body">Dish '{{ this.searchItem }}' no found. Continue by adding it?</div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onCancelModalClick()">
        Cancel
      </button>
      <button type="button" class="btn btn-primary" (click)="addNewDishModalButtonClick()" data-bs-dismiss="modal">
        Continue
      </button>
    </div>
  </ng-template>
</div>
