<div class="mb-4">
  <table *ngIf="this.portionProducts$.getValue().length > 0" class="table">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Carbohydrates</th>
        <th scope="col">Proteins</th>
        <th scope="col">Fats</th>
        <th scope="col">Calories</th>
        <th scope="col">Portion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of portionProducts$ | async; let productIndex = index">
        <td><img src="{{ product.imagePath }}" /></td>
        <td>{{ product.name }}</td>
        <td>{{ product.carbohydrates | number : '1.0-2' }}g</td>
        <td>{{ product.proteins | number : '1.0-2' }}g</td>
        <td>{{ product.fats | number : '1.0-2' }}g</td>
        <td>{{ product.calories | number : '1.0-2' }}kcal</td>
        <td class="d-flex" style="align-items: center">
          <input
            type="number"
            id="portion"
            class="form-control form-control-sm d-flex"
            style="max-width: 65px"
            [ngModel]="portionValue * product.portionMultiplier"
            [ngModelOptions]="{ updateOn: 'blur' }"
            (ngModelChange)="onPortionValueChange(1, $event, portionProducts$, productIndex)" />g
        </td>
        <td>
          <button
            type="button"
            class="btn delete-button-icon text-danger"
            (click)="onRemoveProductButtonClick(portionProducts$, productIndex)">
            <i class="bi bi-x-lg"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td class="table-light"></td>
        <td class="table-light text-secondary">Total:</td>
        <td class="table-light text-secondary">{{ (mealMacroSummary$ | async).carbohydrates | number : '1.0-2' }} g</td>
        <td class="table-light text-secondary">{{ (mealMacroSummary$ | async).proteins | number : '1.0-2' }} g</td>
        <td class="table-light text-secondary">{{ (mealMacroSummary$ | async).fats | number : '1.0-2' }} g</td>
        <td class="table-light text-secondary">{{ (mealMacroSummary$ | async).calories | number : '1.0-2' }} kcal</td>
        <td class="table-light text-secondary"></td>
        <td class="table-light text-secondary"></td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex bd-highlight my-3">
    <input
      id="typeahead-basic"
      type="text"
      class="p-2 bd-highlight form-control"
      [(ngModel)]="searchItem"
      [ngbTypeahead]="searchProducts"
      placeholder="Start typing to search for a products..." />
    <button
      type="button"
      class="add-product-button p-2 flex-fill bd-highlight btn btn-primary"
      (click)="onAddProductButtonClick(portionProducts$, searchItem, content)">
      Add
    </button>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="ProductNoFoundModalLabel">Product not found</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        (click)="onCancelModalClick()"></button>
    </div>
    <div class="modal-body">Product no found. Continue by adding it?</div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onCancelModalClick()">
        Cancel
      </button>
      <button type="button" class="btn btn-primary" (click)="addNewProductModalButtonClick()" data-bs-dismiss="modal">
        Continue
      </button>
    </div>
  </ng-template>
</div>
