<div class="m-4">
  <form class="row row-cols-sm-auto">
    <div class="col-12">
      <div class="input-group">
        <input class="form-control" placeholder="Date" name="dp" [(ngModel)]="dateModel" ngbDatepicker
          #d="ngbDatepicker" (dateSelect)="onDateSelection($event)">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
          <i class="bi bi-calendar-date"></i></button>
      </div>
    </div>
  </form>

  <div class="accordion-container mt-4">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel title="Breakfast">
        <ng-template ngbPanelContent>
          <table class="table table-striped mt-4">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Carbohydrates</th>
                <th scope="col">Proteins</th>
                <th scope="col">Fats</th>
                <th scope="col">Total calories</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let breakfastProduct of breakfastProducts$ | async'>
                <td>{{breakfastProduct.name}}</td>
                <td>{{breakfastProduct.carbohydrates}}g</td>
                <td>{{breakfastProduct.proteins}}g</td>
                <td>{{breakfastProduct.fats}}g</td>
                <td>{{breakfastProduct.calories}}kcal</td>
                <td>
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#deleteMealConfirmationModal" [value]="breakfastProduct.id"
                    (click)="onRemoveButtonClick($event)">Remove</button>
                </td>
            </tbody>
          </table>
          <div class="row">
            <div class="col">
              <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="breakfastSearchModel"
                [ngbTypeahead]="searchProducts" />
            </div>
            <div class="col">
              <button type="button" class="meal-add-button btn btn-primary" (click)="addBreakfastMeal()">Add</button>
            </div>
            <div class="col meal-save-button">
              <button type="button" class="btn btn-primary" (click)="saveBreakfastMeals()">Save</button>
            </div>
          </div>
        </ng-template>
      </ngb-panel>

      <ngb-panel title="Lunch">
        <ng-template ngbPanelContent>
          <table class="table table-striped mt-4">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Carbohydrates</th>
                <th scope="col">Proteins</th>
                <th scope="col">Fats</th>
                <th scope="col">Total calories</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let lunchProduct of lunchProducts$ | async'>
                <td>{{lunchProduct.name}}</td>
                <td>{{lunchProduct.carbohydrates}}g</td>
                <td>{{lunchProduct.proteins}}g</td>
                <td>{{lunchProduct.fats}}g</td>
                <td>{{lunchProduct.calories}}kcal</td>
                <td>
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#deleteMealConfirmationModal" [value]="lunchProduct.id"
                    (click)="onRemoveButtonClick($event)">Remove</button>
                </td>
            </tbody>
          </table>
          <div class="row">
            <div class="col">
              <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="lunchSearchModel"
                [ngbTypeahead]="searchProducts" />
            </div>
            <div class="col">
              <button type="button" class="meal-add-button btn btn-primary" (click)="addToLunch()">Add</button>
            </div>
          </div>
        </ng-template>
      </ngb-panel>

      <ngb-panel title="Dinner">
        <ng-template ngbPanelContent>
          <table class="table table-striped mt-4">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Carbohydrates</th>
                <th scope="col">Proteins</th>
                <th scope="col">Fats</th>
                <th scope="col">Total calories</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let dinnerProduct of dinnerProducts$ | async'>
                <td>{{dinnerProduct.name}}</td>
                <td>{{dinnerProduct.carbohydrates}}g</td>
                <td>{{dinnerProduct.proteins}}g</td>
                <td>{{dinnerProduct.fats}}g</td>
                <td>{{dinnerProduct.calories}}kcal</td>
                <td>
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                    data-bs-target="#deleteMealConfirmationModal" [value]="dinnerProduct.id"
                    (click)="onRemoveButtonClick($event)">Remove</button>
                </td>
            </tbody>
          </table>
          <div class="row">
            <div class="col">
              <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="dinnerSearchModel"
                [ngbTypeahead]="searchProducts" />
            </div>
            <div class="col">
              <button type="button" class="meal-add-button btn btn-primary" (click)="addToDinner()">Add</button>
            </div>
          </div>
        </ng-template>
      </ngb-panel>

    </ngb-accordion>
  </div>
</div>
